.Scanner,
.Scanner-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  width: 100vw;
  color: white;
  overflow: hidden;
  margin: 0;
}

.Scanner-iframe {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Scanner-iframe a-scene {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.Scanner-iframe a-nft {
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 80pt 20pt;
  justify-content: center;
  align-items: center;
  display: flex;
}

.Scanner-message {
  width: 75%;
  font-size: 1.1em;
  font-weight: 600;
  background-color: #d5e9f5;
  color: black;
  z-index: 2;
  bottom: 40px;
  position: fixed;
  padding: 10px;
  border-radius: 25px;
  display: flex;
}

.Scanner-message p {
  margin: 0px;
}
