.Home,
.Home-container,
.Home-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  h3 {
    margin: 0;
  }
  .Home-info {
    color: #002f88;
    padding: 0px 20px;
  }
  .Home-date {
    margin-bottom: -30px;
    .Session-icon {
      span {
        border: 2px solid blue;
        border-radius: 50%;
        padding: 2px;
      }
      .fa-regular {
        padding: 3px;
      }
      align-self: start;
      font-size: 1em;
      margin-right: 20px;
      margin-top: 20px;
    }
    display: flex;
    align-items: center;
  }

  .Home-carousel {
    position: relative;
  }
  .Home-title {
    font-size: 1.3em;
    padding-bottom: 20px;
  }
  .Home-scanner-button {
    z-index: 10;
    bottom: 10px;
    position: fixed;
    display: flex;
    justify-content: space-around;
    gap: 80px;
    margin: 0px;
    img {
      width: 35%;
      height: 35%;
    }
    button {
      width: max-content;
      height: max-content;
      background: transparent;
      border: none;
    }
  }
}
