.EventCard {
	margin-top: 30px;
	margin-left: 10px;
	margin-right: 10px;
	width: 100%;
	min-width: 200pt;
	height: 200pt;
	padding-bottom: 20pt;
	font-size: 1rem;
	background-color: white;
	border-radius: 25px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	.EventCard-info {
		padding: 0px 20px;
		p {
			margin: 0px;
		}
		.EventCard-name {
			padding-top: 20px;
			font-weight: 700;
		}
		.EventCard-description {
			font-weight: 700;
		}
		.EventCard-presenter,
		.EventCard-location {
			padding: 5px 0px;
			display: flex;
		}
	}
	.EventCard-button {
		position: absolute;
		display: flex;
		justify-content: end;
		top: 270px;
		margin-left: 30px;
	}
	button {
		white-space: nowrap;
		text-align: center;
		font-size: 0.9em;
		color: white;
		background-color: rgb(174, 48, 51);
		border: none;
		border-radius: 20px;
		padding: 4px 8px;
	}
	.EventCard-time {
		width: 100%;
		font-size: 1em;
		font-weight: 700;
		border-radius: 25px 25px 0px 0px;
		background-color: #002f88;
		margin-bottom: 10px;
		p {
			color: white;
			margin: 0px;
			padding: 20px;
		}
	}
}
.EventCard-link {
	text-decoration: none;
	color: black;
}
