.eventWithArrow {
	display: flex;
	gap: 10px;
	justify-content: flex-start;
}

.eventBodyAndIcon {
	align-self: stretch;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}

.eventIcon {
	aspect-ratio: 1;
	object-fit: contain;
	width: 42px;
}

.eventCardBody {
	display: flex;
	flex-direction: column;
	border-bottom: #000 1px solid;
	padding-bottom: 4pt;
	padding-top: 4pt;
}

.eventTitle {
	color: #000;
	font-weight: 700;
	margin: 0px;
}

.eventCardInfo {
	display: flex;
	margin-top: 10px;
	width: 100%;
	flex-direction: column;
	color: #000;
	font-weight: 400;
	justify-content: flex-start;
}

.eventCardInfo p {
	margin: 2pt 0pt;
}

.arrowIcon {
	aspect-ratio: 0.57;
	object-fit: contain;
	width: 13px;
	align-self: stretch;
	margin: auto 0;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}
.container {
	border-radius: 20px;
	background-color: rgba(255, 255, 255, 0.9);
	display: flex;
	width: 100%;
	height: 100%;
	flex-direction: column;
	overflow: scroll;
	line-height: 1.2;
	padding: 15px 0;
	padding: 10pt;
	text-align: left;
}

.header {
	display: flex;
	flex-direction: column;
	align-items: start;
}

.title {
	color: #000;
	font-size: 18px;
	font-weight: 700;
}

.tabContainer {
	display: flex;
	margin-top: 20px;
	font-size: 14px;
	font-weight: 400;
}

.tabItem {
	display: flex;
	flex-direction: column;
	color: #000;
}

.tabText {
	align-self: start;
}

.activeIndicator {
	border-radius: 2px;
	background-color: rgba(0, 47, 136, 1);
	display: flex;
	margin-top: 8px;
	height: 2px;
}

.inactiveTab {
	display: flex;
	flex-direction: column;
	color: rgba(0, 0, 0, 0.4);
	white-space: nowrap;
	flex-grow: 1;
	flex-basis: 0;
	width: fit-content;
}

.inactiveTabText {
	margin-left: 25px;
}

.inactiveIndicator {
	border-radius: 2px;
	background-color: rgba(217, 217, 217, 1);
	display: flex;
	margin-top: 9px;
	height: 1px;
}

.eventList {
	flex: 1;
	display: flex;
	margin-top: 7px;
	flex-direction: column;
	font-size: 16px;
}

.timeBanner {
	background-color: rgba(0, 47, 136, 1);
	align-self: stretch;
	overflow: hidden;
	color: #fff;
	font-weight: 700;
	padding: 10px 28px;
}

.eventCard {
	border-color: rgba(0, 0, 0, 0.6);
	border-bottom-width: 1px;
	display: flex;
	margin-top: 14px;
	gap: 19px;
}

.eventContent {
	display: flex;
	min-width: 240px;
	padding-right: 11px;
	gap: 10px;
	justify-content: start;
}

.eventDetails {
	align-self: stretch;
	display: flex;
	min-width: 240px;
	align-items: start;
	gap: 19px;
	justify-content: start;
	margin: auto 0;
}

.eventIcon {
	aspect-ratio: 1;
	object-fit: contain;
	width: 42px;
}

.eventInfo {
	display: flex;
	flex-direction: column;
	justify-content: start;
}

.eventTitle {
	color: rgba(0, 0, 0, 1);
	font-weight: 700;
}

.eventMetadata {
	display: flex;
	margin-top: 10px;
	width: 100%;
	flex-direction: column;
	color: #000;
	font-weight: 400;
	justify-content: start;
}

.arrowIcon {
	aspect-ratio: 0.57;
	object-fit: contain;
	width: 13px;
	align-self: stretch;
	margin: auto 0;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}
