.Show,
.Show-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  width: 100vw;
  height: 100vh;
  .Show-container-back {
    margin-top: 75px;
    display: flex;
    justify-content: flex-start;
    margin-right: 200px;
    font-size: 1.5em;
    span {
      margin-left: 30px;
    }
  }
  .Show-scanner-button {
    z-index: 10;
    bottom: 10px;
    position: fixed;
    display: flex;
    justify-content: space-around;
    gap: 80px;
    margin: 0px;
    img {
      width: 35%;
      height: 35%;
    }
    button {
      width: max-content;
      height: max-content;
      background: transparent;
      border: none;
    }
  }
}
